.movieCard {
    flex: 0 1 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
}

.movieCard:hover {
  box-shadow: 0px 4px 8px #03256C;
}

.movieImg {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.movieTitle {
  font-size: 20px;
  font-family: American Typewriter, serif;
}

.movieRating {
  font-size: 16px;
  font-family: American Typewriter, serif;
  color: gray;
}