.footer {
    padding: 40px;
    background-color: #03256C;
}

.footerInfo {
    display: flex;
    flex-direction: column;
    font-family: American Typewriter, serif;
    font-size: 20px;
    color: white;
}